.mx_VideoRecordComposerTile_stop {
    width: 28px;
    height: 28px;
    border: 2px solid white;
    border-radius: 32px;
    position: relative;

    &::after {
        content: "";
        width: 14px;
        height: 14px;
        position: absolute;
        top: 7px;
        left: 7px;
        border-radius: 2px;
        background-color: #ff5b55;
    }
}

.mx_VideoRecordComposerTile_delete {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 2px;
    background-color: white;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-image: url("@vector-im/compound-design-tokens/icons/delete.svg");
}

.mx_VideoRecordComposerTile_upload {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 2px;
    background-color: white;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-image: url("@vector-im/compound-design-tokens/icons/send-solid.svg");
}

.mx_VideoRecordComposerTile_uploadingState {
    margin-right: 10px;
    color: $secondary-content;
}

.mx_VideoRecordComposerTile_failedState {
    margin-right: 21px;

    .mx_VideoRecordComposerTile_uploadState_badge {
        display: inline-block;
        margin-right: 4px;
        vertical-align: middle;
    }
}

.mx_MessageComposer_row .mx_VideoMessagePrimaryContainer {
    position: relative; /* important for the live circle */

    &.mx_VideoRecordComposerTile_recording {
        &::before {
            animation: recording-pulse 2s infinite;

            content: "";
            background-color: #ff5b55;
            width: 10px;
            height: 10px;
            position: absolute;
            left: 12px; /* 12px from the left edge for container padding */
            top: 17px; /* vertically center (middle align with clock) */
            border-radius: 10px;
        }
    }
}

.mx_MessageComposer_wysiwyg .mx_VideoMessagePrimaryContainer {
    &.mx_VideoRecordComposerTile_recording {
        &::before {
            top: 15px; /* vertically center (middle align with clock) */
        }
    }
}

@keyframes recording-pulse {
    0% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
}

.mv_VideoRecordContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mx_LiveRecordingPreview {
    width: 300px;
    height: 300px;
    border-radius: 999px;
    background-color: black;
    overflow: clip;
}

.mx__VideoRecordComposerControls {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 150px;
}